
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body {
	background-color: #20170b;
	font: Light 300;
	font-family: "Comfortaa", cursive;
	color: #ffffff;
}
table {
	padding: 5px;
}
td {
	color: #20170b;
	width: 90px;
	height: 70px;
	text-align: center;
	background-color: #624531;
	border-radius: 15px;

}
button{
	
	color: #20170b;
	width: 90px;
	height: 30px;
	text-align: center;
	background-color: #CE78F3;
	border-radius: 15px;
	border-width: 2px;
	font: Light 300;
	font-family: "Comfortaa", cursive;

}
.today {
	border: solid 2px #a83248;
}
.chosen{
	color:#CE78F3;
	font-weight: 1000;
	border: solid 2px #EDD4B2;
}
tr{
	color: #EDD4B2;
	text-align: center;

}
th {
	color: #EDD4B2;
	width: 90px;
	text-align: center;
	padding: 5px;
}
p {
	color: #CE78F3;
}
input {
	width: 150px;
	color: #CE78F3;
	background-color: #18191A;
	border-color: #b0b3b8;
	border-radius: 10px;
	font-size: 17px;
	font: Light 300;
	font-family: "Comfortaa", cursive;
	
}
input::placeholder{
	color:#ffffff;
}

.clickedCell{
	color:#CE78F3;
	font-style: italic;
	font-weight: 1000;
	background-color: #20170b;
}

.currentMonth{
	background-color: #624531;
}

.nextMonth{
	background-color: #624531;
}

.colourBlockReference{
	width: 100px;
	height: 100px;
	border-radius: 10px;
	display: inline-block;
	border: solid 1px #ffffff;
}

.Calendar {
	font-family: "Comfortaa", cursive;
}

#MainToDoList{
	width:400px;
	text-align: internal left;
}

#WeeklyCalendar{
	width :1500px;
}